.space-nav-text{
    padding-top: 4%;
}
.space-nav-logo{
    padding-top: 1%;
}

a:link {
  font-size: 20px;
  font-family: "Verdana";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  width: 76px;
  height: 19px;
  text-decoration: none;
}

a:visited {
  font-size: 25px;
  font-family: "Verdana";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  width: 76px;
  height: 19px;
}

a:hover {
    border-radius: 10%;
    font-size: 25px;
    font-family: "Verdana";
    color: black;
    line-height: 1.2;
    width: 76px;
    height: 19px;
    background-color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}

.my-container{
    width: 100%; height: 1000px;
}
.container-background{
    background-image: url(../images/stars.jpg); background-repeat: no-repeat; background-size: 100%;
}
.speed-space-delivery{
  background-image: url("../images/SPEEDSPACEDELIVERY.png");
  width: 442px;
  height: 194px;
  z-index: 11;
}

 .speed-space-delivery-text{
        padding-top: 7%;
        padding-left: 10%;
}
.speed-space-delivery-button{
    padding-top: 5%;
    padding-left: 19%;
    
}
.how-does-it-work {
  font-size: 58.776px;
  font-family: "Verdana";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
}
.space-between-container{
    padding-bottom: 3%;
}
.nav-other{
    background-image: url(../images/stars.jpg); background-repeat: no-repeat; background-size: 100%;
}
.white-text{
     font-size: 25px;
  font-family: "Verdana";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  width: 76px;
  height: 19px;
}